<!DOCTYPE html>
<html>
	<head>
		<style>
			div{
		background-color: CadetBlue
		}
		</style>
		<title>Production Planning Tool</title>
		
		<meta http-equiv="refresh" content="5">
		
		<div>
		<h1 style = ""color:blue;font-size:60px;"> Production Planning Tool</h1>
		<p style="font-size:20px;"> LN Wedge Production Lines</p>
		<hr>
		</div>
	</head>
	<body>
		<style>
		background_style {
	background-color: CadetBlue
	}
		</style>
		<p1 style="font-size:20px;"> Summary</p1>
		<p2> </p2>

	
	
	
	

		<hr style="border-size:20px;]">
		<p2 style="font-size:20px;"> Opration Status</p2>
		<hr>
		<p3 style="font-size:20px;"> Machine Load</p3>
		<hr>
	
	</body>

	<footer>
		<style>
			div{
			background-color: CadetBlue
			}
		</style>
		<div>
		<p style="font-size:16px;"> @ 2018 Copyright by II-VI Vietnam</p>
		</div>
	</footer>
	
</html>